.about {
    padding: 120px 0 0 0;
    &__wrapper {
        padding-right: 100px;
        display: grid;
        grid-template-columns: 470px 310px 1fr;
        grid-template-rows: 120px 163px 136px 1fr;
    }
    &__item {
        &_1 {
            grid-row: 1/4;
            grid-column: 1;
        }
        &_2 {
            grid-column: 2/4;
        }
        &_4,
        &_5,
        &_6 {
            width: 260px;
            display: flex;
            justify-content: space-between;
        }
        &_3 {
            grid-column: 2/4;
            grid-row: 2/3;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
        }
        &_4 {
            grid-column: 2/3;
            grid-row: 3/3;
        }
        &_5 {
            grid-column: 3/4;
            grid-row: 3/3;
        }
        &_6 {
            grid-column: 2/3;
            grid-row: 4/4;
        }
    }
    &__subtitle {
        position: relative;
        padding-left: 14px;
        z-index: 1;
        @include before_circle;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    &__img {
        position: relative;
        @include before_circle;
        z-index: 1;
        padding-left: 15px;
        padding-top: 9px;
        margin-top: 6px;
        &_18 {
            padding-left: 18px;
        }
    }
    &__descr {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        width: 200px;
    }
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
