.resume {
    padding: 120px 0 0 0;
    &__subtitle {
        margin: 0 auto;
        padding-top: 6px;
        text-align: center;
        position: relative;
        @include before_circle;
        z-index: 1;
        &::before {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title {
        text-align: center;
        margin-top: 6px;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-subtitle {
            position: relative;
            padding-left: 50px;
            &::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            margin: 0;
            li {
                padding-left: 50px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: calc(100% + 45px);
                    top: -53px;
                    left: 7px;
                    background-color: black;
                }
            }
        }
    }
    &__item {
        margin-top: 45px;
        &-head {
            display: flex;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 43px;
                height: 1px;
                top: 50%;
                transform: translateY(-50%);
                left: -43px;
                background-color: black;
            }
        }
        &-icon {
            position: relative;
            padding-left: 18px;
            padding-top: 8px;
            margin-top: 6px;
            margin-right: 17px;
            z-index: 1;
            @include before_circle;
        }
        &-location {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }
        &-body {
            margin-top: 12px;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }
    }
}
